section{
  margin-bottom: 200px;
}

h1, h2, h3{
  font-family: 'SF';
}

h1{
  font-size: 80px;
  text-align: center;
}

h2{
  font-size: 50px;
  text-align: center;
}

h3{
  font-size: 40px;
}

p{
  font-size: 20px;
}

.indexContainer{
  width: 960px;
  margin: 0 auto;
}

.indexHeader, .musics, .soundLink{
  text-align: center;
}

.firstImg{
    height:1000px;
    width: auto;
}

.firstP{
  text-align: center;
  font-size: 30px;
}

.soundLinkImg{
  position: relative;
}

.soundLink a{
  color:#000;
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
  position: absolute;
  left: 15%;
  top: 40%;
}

.imgAndText{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.textRight{
  padding-left: 50px;
}

.textLeft{
  padding-right: 50px;
}

.indexSiri h3{
  text-align: right;
  padding-right: 40px;
}

#musics{
  width:100%;
  height: auto;
  margin-bottom: 40px;
}

/* 4 sections en bas de page*/

.fourContainer{
  display: flex;
  justify-content: center;
  padding-top: 4;
  padding-bottom: 56;
  margin:0 auto;
}


.mini_article{
  margin-top:10px;
  align-items: stretch;
}


.mini_article{
  width: 220px;
  text-align: center;
  position:relative;
  padding:10px;
}

.fourAllContainer{
  display: flex;
}

.plus{
  color:#0070C9;
}

.infos{
  font-size: 10px;
}

.fourAllContainer img{
  height: 40px;
  width:auto;
}
