body{
  margin:0;
  padding:0;
  font-family: 'helvetica','arial' , sans-serif;
  font-size:14px;
  color:#444;
}
.clearBoth{
  clear: both;
}
.Background{
  line-height: 2;
  width: 65%;
  margin: 0px auto;
}
footer{
  background-color: #F2F2F2;
  padding-bottom: 1%;
}
footer a{
  text-decoration: none;
  color: grey;
}
footer a:hover{
  text-decoration: underline;
  color: black;
}
footer div p a{
  text-decoration: none;
  color: blue;
}
footer div p a:hover{
  text-decoration: underline;
  color: blue;
}
.FooterBottom3 a{
  font-size: 10px;
  color: black;
  text-decoration: none;
}
.FooterBottom3 a:hover{
  text-decoration: underline;
}
.FooterList{
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: grey;
}
.FirstListingFooter{
  font-family: 'helvetica';
  list-style: none;
  color: #000000;
}
.ListingFooter{
  list-style: none;
}
.FooterBottom2{
  border-top: 1px solid lightgrey;
  border-top-width: 90%;
}
.FooterBottom1, .FooterBottom2{
  font-size: 10px;
  color: grey;
  display: flex;
  justify-content: space-between;
}
.FooterBottom3{
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
}
.Region{
  display: flex;
  justify-content: flex-end;
}
.Region img{
 padding-top: 10px;
}
.Region a{
  color: black;
  text-decoration: none;
  margin-top: 8px;
  padding-left: 4px;
}
.Region a:hover{
  text-decoration: underline;
}
.FooterBorder{
  border-right: 1px solid lightgrey;
  padding-right: 2.5%;
}