@font-face{
  font-family: 'helvetica';
  src: url('../fonts/Helvetica.ttf');
  font-family: 'SF';
  src: url('../fonts/SFCompactDisplay-Light.otf');
}

body{
  margin:0;
  padding:0;
  background-color: #000000;
  color: #EFEFEF;
  font-family: 'helvetica','arial' , sans-serif;
  font-size:14px;
}

.ClearBoth{
  clear: both;
}

/*
HEADER
 */

header{
  background: #373737;
  font-family: 'SF', sans-serif;
  font-size:10px;
  color:#EFEFEF;
  padding-left:100px;
  padding-top: 20px;
  padding-right: 100px;
  position: fixed;
  width: 100%;
  margin-top: -66px;
  z-index: 10;
}
.logo{
    width: 30px;
    margin-bottom: 5px;
  }

img .logo {
  width: 15px;
	height: 20px;
  padding-bottom: 10px;
}

nav li a{
  display: flex;
  margin:0px 24px;
  display:inline-block;
  color:white;
  text-decoration:none;
  font-size:16px;
  font-weight:bold;
}

nav{
  justify-content: flex-end;
}


nav li a.current, nav li a:hover{
  padding-bottom: 15px;
  border-bottom:3px solid  #0070C9;
  display: inline;
}

nav ul{
  list-style-type: none;
  display: flex;
  float: right;
  margin: 0;
  margin-right: 220px;
}


.mini_article{
  width: 220px;
  text-align: center;
  position:relative;
  padding:10px;
}

.fourAllContainer{
  display: flex;
}

.plus{
  color:#0070C9;
}

.infos{
  font-size: 10px;
}

.fourAllContainer img{
  height: 40px;
  width:auto;
}


/*
FOOTER
 */

 .FooterBackground{
   line-height: 2;
   width: 65%;
   margin: 0px auto;
 }
 footer{
   background-color: #000000;
   padding-bottom: 13px;
 }
 footer a{
   text-decoration: none;
   color: grey;
 }
 footer a:hover{
   text-decoration: underline;
   color: #EFEFEF;
 }
 footer div p a{
   text-decoration: none;
   color: #0070C9;
 }
 footer div p a:hover{
   text-decoration: underline;
   color: #0070CE;
 }
 .FooterBottom3 a{
   font-size: 10px;
   color: grey;
   text-decoration: none;
 }
 .FooterBottom3 a:hover{
   text-decoration: underline;
 }
 .FooterList{
   display: flex;
   justify-content: center;
   font-size: 10px;
 }
 .FirstListingFooter{
   font-family: 'helvetica';
   list-style: none;
   color: #EFEFEF;
   font-weight: bold;
 }
 .ListingFooter{
   list-style: none;
 }
 .FooterBottom2{
   border-top: 1px solid lightgrey;
   border-top-width: 90%;
 }
 .FooterBottom1, .FooterBottom2{
   font-size: 10px;
   color: #494949;
   display: flex;
   justify-content: space-between;
 }
 .FooterBottom3{
   font-size: 10px;
   display: flex;
   justify-content: space-between;
   text-align: center;
 }
 .FooterRegion{
   display: flex;
   justify-content: flex-end;
 }
 .FooterRegion img{
  padding-top: 10px;
 }
 .FooterRegion a{
   color: grey;
   text-decoration: none;
   margin-top: 8px;
   padding-left: 4px;
 }
 .FooterRegion a:hover{
   text-decoration: underline;
 }
 .FooterBorder{
   border-right: 1px solid lightgrey;
   padding-right: 31px;
 }

@media screen and (max-width: 720px){ /* smartphones à écran HD et moins*/

}
@media screen and (min-width: 721px) and (max-width: 1024px){ /* anciens laptops ~2004 */

}
@media screen and (min-width: 1025px) and (max-width: 1080px){ /* smartphones à écran entre HD+ et FullHD */
  footer{
    margin-top: 30px;
  }
  .FooterBottom3 a{
    font-size: 9px;
  }
  .FooterBottom1, .FooterBottom2{
    font-size: 9px;
  }
  .FooterBottom3{
    font-size: 9px;
  }
  .FooterBorder{
    padding-right: 17px;
  }
  .FooterRegion img{
    padding-top: 9px;
  }
  .FooterList{
    flex-direction: column;
  }
  .FooterPart2 ul, .FooterPart3 ul, .FooterPart4 ul, .FooterPart5 ul{
    font-size: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .FirstListingFooter{
    font-size: 32px;
    width: 100%;
  }
  .ListingFooter fait pour le responsive js qui marche pas{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .FirstListingFooter.Open .ListingFooter{  /* Marche pas*/
    display: flex;
  }
  .FooterList ul{
    width: 650px;
    margin-left: -20px;
  }
  #ResponsifTest{
    width: 50vw;
  }
}
@media screen and (min-width: 1081px) and (max-width: 1280px){ /* anciens laptops <2008 */
  .FooterList{
    font-size: 9px;
  }
  .FooterBottom3 a{
    font-size: 9px;
  }
  .FooterBottom1, .FooterBottom2{
    font-size: 9px;
  }
  .FooterBottom3{
    font-size: 9px;
  }
  .FooterBorder{
    padding-right: 31px;
  }
  .FooterRegion img{
    padding-top: 9px;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1366px){ /* anciens laptops <2015 */
  /* 1ers footer et header codés sur cette résolution = baseline*/
}
@media screen and (min-width: 1367px) and (max-width: 1600px){ /* anciens laptops haut de gamme <2010 */

}
@media screen and (min-width: 1601px) and (max-width: 1920px){ /* standard laptop and desktop */
  .FooterList{
    font-size: 12px;
  }
  .FooterBottom3 a{
    font-size: 12px;
  }
  .FooterBottom1, .FooterBottom2{
    font-size: 12px;
  }
  .FooterBottom3{
    font-size: 12px;
  }
  .FooterBorder{
    padding-right: 57px;
  }
  .FooterRegion img{
    padding-top: 12px;
  }
}
@media screen and (min-width: 1921px){ /* vers ultra hautes définitions, 1440p, 4k, peu communes */

}
