
.container{
  width:960px;
  margin:0 auto;
  text-align: center;
}

.siri{
  width: 50%;
  margin: 200px auto 0px auto;
}

h1{
  font-size: 60px;
  font-family: 'SF';
  margin: 0 auto;
  width: 80%;
}

h2{
  font-size: 50px;
  font-family: 'SF';
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
  margin-top: 150px;
}

h3{
  font-size: 40px;
  font-family: 'SF';
  padding-bottom: 10px;
}
video {
  max-width: 100%;
  height: auto;
}

.firstP{
  width: 75%;
  margin: 0 auto;
  font-size: 20px;
}
/* SLIDER */

.sliderContainer{
  margin-top: 20px;
  position:absolute;
  display:flex;
  transition: ease-in 0.5s all;
  will-change: left;
  text-align: left;
}

.slider{
  width:100%;
  height: 480px;
  position:relative;
  overflow: hidden;
}

.text{
  margin: 0;
  font-size: 20px;
  width: 540px;
  height: 480px;
  margin-left: 20px;
  margin-top: 10px;
  color: #EFEFEF;
  cursor: pointer;
}

.size{
  width: 400px;
  height: 480px;
}

.left{
  position : absolute;
  left: 0px;
  top: 50%;
  font-size: 45px;
  color: #606060;
  z-index: 10;
  cursor: pointer;
}

.right{
  position : absolute;
  right: 0px;
  top: 50%;
  font-size: 45px;
  color: #606060;
  z-index: 10;
  cursor: pointer;
}

.button{
  position: absolute;
  display: flex;
	bottom: -65px;
	left: 340px;
}
.bulletSlider {
  display: flex;
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
	margin: 0px 15px 0px 15px;
}

li .bulletSlider:hover , li .current:hover{
  background-color: #FFFFFF;
  opacity: 0.85;
}

a{
  text-decoration: none;
}
