body{
  background-color: #000;
  color: #EFEFEF;
  font-family: 'helvetica'
}

a{
  color: #0070C9;
}

/* Header specs */

.headerSpecs h3{
  font-family: 'SF';
  font-size: 25px;
}

.headerSpecs{
  width: 70%;
  margin: 0 auto;
}

.headerSpecsTop{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerSpecsRight{
  width: 40%;
}

.headerSpecsLeft{
  width: 30%;
}

.headerSpecsLeft img{
  width:100%;
}

.headerSpecsMiddle{
  padding-left: 20px;
  width:30%;
}

.specs_colors{
  width:25%;
  display: flex;
  justify-content: space-around;
}

/* Tableau specs */

table h3{
  padding: 0;
  margin: 0;
}

table{
  border-collapse: collapse;
  width: 900px;
  margin: 0 auto;
}

th, td{
  border-top: 0.5px solid #EFEFEF;
  padding-top: 20px;
  padding-bottom: 20px;
}

th{
  vertical-align: text-top;
  text-align: left;
  width: 30%;
}

td{
  width: 70%;
  padding-left: 10px;
}

.specs_ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.specs_ul li{
  padding: 0;
  margin: 0;
}

.specs_compatibilite{
  display: flex;
}

.specs_bloc_1_3{
  flex-direction: row;
  padding: 10px;
}

.specs_fonctionnality{
  padding-left: 20px;
}

/* Environnement specs */

.environments{
  width:70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #202020;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.environment h2{
  font-family: 'SF';
  font-size: 26px;
  color:#76C7B3;
}

.header_environment{
  width: 100%;
  position: relative;
}

.environment{
  width: 45%;
  padding: 5px;
}


.green_logo{
  position: absolute;
  right: 5%;
  top: 5%;
}

.header_environment img{
  height:30px;
}
